* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* 
      Colors and shit 
      light green : #9fa685
      light yellow : #fae9a3
      light orangey brown: #f08d63
      light pink : #ff8176
      dark purple :  #67466a
      dark gray blue (logo): #395373
      light gray : #cecece
      drop down : #d5d0b5
       light dark purple :#68607d 
    */
}
/* Navbar  */
.navbar {
  background-image: url(images/mountain.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: 1;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 50%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  position: rel;
}

#navbar__logo {
  background-color: #395373;
  background-size: 100%;
  -webkit-background-clip: text;

  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  color: #fff;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: none;
  background: transparent;
}

.button:hover {
  color: #395373;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #395373;
  transition: all 0.3s ease;
}

/* It is triggered when the width is 960px
  */

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    /* ensures that it cannot be seen when it goes up. */
    top: -1000px;
    opacity: 0;
    /*transition down speed*/
    transition: all 0.5s ease;
    height: 5-vh;
    z-index: -1;
    background: #d5d0b5;
  }

  /* when the ham bar is pressed*/
  .navbar__menu.active {
    /* show the entire menu */
    top: 160px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;
    height: 48vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  /* makes the hamburger show up*/

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  /* targets the animation when clicking the hamburger. the nth-child targets each bar*/
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Home section */
.home {
  background: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: 1;
}
.home__search {
  display: flex;
  position: relative;
  top: 500px;
  left: auto;
  transform: translate(0, -50%);
  background-color: #cecece;
  max-width: 750px;
  width: 100%;
  height: 500px;
  padding: 15px;
  border-radius: 5px;
  justify-content: space-between;
}

.home__search .input {
  width: 85%;
  padding: 10px 20px;
  border: none;
}

.tags-input .main-input {
  border: 0;
  outline: none;
  padding: 0.25em;
  margin: 10px;
}
.tags-input {
  /* display: block; */
  display: inline-block;
  position: absolute;
  top: 20%;
  bottom: auto;
  left: 5px;
  /* margin-top: -5%;
    padding: 2%; */
}
.tags-input .tag {
  font-size: 70%;
  color: #cecece;
  padding: 0.5em 0.75em;
  display: inline-block;
  margin: 0.25em;
  background-color: #395373;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.tags-input .tag:hover {
  background-color: #cecece;
  color: black;
  cursor: pointer;
}

.tags-input .tag .close::after {
  content: "x";
  font-weight: bold;

  display: inline-block;
  transform: scale(1);
  margin-left: 0.75em;
  top: 0;
}

.tags-input .tag .close:hover::after {
  cursor: pointer;
  color: #ff4a3a;
}

.search__btn {
  background: #fff;
  width: 10%;
  height: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.search__btn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/* Hero Section CSS */
.main {
  background-color: #fff;
}

.main__container {
  margin: 0 auto;
  height: auto;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.main__container > div {
  background-color: #cecece;
  width: 300px;
  height: 325px;
  border-radius: 8px;
  margin: auto;
}

.main__container > div > p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0px 10px;
}

.main__img__container {
  background-image: url(images/fakeDoc.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  margin: 10px auto;
  border-radius: 8px;
  width: 275px;
  height: 200px;
}

.res__link {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 5px;
}

/* Scaling */
@media screen and (max-width: 1300px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .main__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .main__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* GOOGLE SIGN IN */
.g-signin2 {
  margin-bottom: 10px;
  margin-right: 10px;
}
