* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* 
      Colors and shit 
      light green : #9fa685
      light yellow : #fae9a3
      light orangey brown: #f08d63
      light pink : #ff8176
      dark purple :  #67466a
      dark gray blue (logo): #395373
      light gray : #cecece
      drop down : #d5d0b5
       light dark purple :#68607d 
    */
}
/* Home section */
.home {
  background: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: -1;
}
.home__search {
  display: flex;
  position: relative;
  top: 950px;
  left: auto;
  transform: translate(0, -50%);
  background-color: #cecece;
  max-width: 750px;
  width: 100%;
  height: 1000px;
  padding: 15px;
  border-radius: 5px;
  justify-content: space-between;
}

.home__search .input {
  width: 85%;
  padding: 10px 20px;
  border: none;
}

.tags-input .main-input {
  border: 0;
  outline: none;
  padding: 0.25em;
  margin: 10px;
}
.tags-input {
  display: inline-block;
  position: absolute;
  top: 10%;
  bottom: auto;
  left: 5px;
}

.tags-input .tag {
  font-size: 70%;
  color: #cecece;
  padding: 0.5em 0.75em;
  display: inline-block;
  margin: 0.25em;
  background-color: #395373;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.tags-input .tag:hover {
  background-color: #cecece;
  color: black;
  cursor: pointer;
}

.tags-input .tag .close::after {
  content: "x";
  font-weight: bold;

  display: inline-block;
  transform: scale(1);
  margin-left: 0.75em;
  top: 0;
}

.tags-input .tag .close:hover::after {
  cursor: pointer;
  color: #ff4a3a;
}

.desc-input {
  display: inline-block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 5px;
  max-width: 750px;
}

.desc-input #descInput {
  border: 0;
  outline: none;
  padding: 0.25em;
  margin: 10px;
  width: 250px;
}

.search__btn {
  background: #fff;
  width: 10%;
  height: 5%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.search__btn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/* Hero Section CSS */
.main {
  background-color: #fff;
}

.main__container {
  margin: 0 auto;
  height: auto;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.main__container > div {
  background-color: #cecece;
  width: 300px;
  height: 325px;
  border-radius: 8px;
  margin: auto;
}

.main__container > div > p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0px 10px;
}

.main__img__container {
  background-image: url(images/fakeDoc.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  margin: 10px auto;
  border-radius: 8px;
  width: 275px;
  height: 200px;
}

.res__link {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 5px;
}

/* Scaling */
@media screen and (max-width: 1300px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .main__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .main__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* GOOGLE SIGN IN */
.g-signin2 {
  margin-bottom: 10px;
  margin-right: 10px;
}
